DB_HOST=localhost
DB_PORT=3306
DB_NAME=bolsa_trabajo_utp
DB_USER=root
DB_PASS=

APP_NAME=Bolsa de Trabajo UTP
APP_URL=http://localhost/AppEgresados
APP_ENV=development
APP_DEBUG=true

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=correo@utp.edu.mx
MAIL_PASS=contraseña_app
MAIL_FROM=bolsa-trabajo@utp.edu.mx

SESSION_TIMEOUT=3600
CSRF_TOKEN_EXPIRY=3600
PASSWORD_MIN_LENGTH=8
MAX_FILE_UPLOAD_SIZE=5242880
